/* declarando uma variavel no CSS3: (é uma boa prática fazer dessa forma) */
:root {
  --vermelho: #e50914;
  --preto: #141414;
}

* {
  margin: 0;
  padding: 0;

  /* para elementos internos da div não redimensionarem ela */
  box-sizing: border-box;
}

/* elementos base */
body {
  /* utilizando a cor da variável criada */
  background: var(--preto);
  font-family: Arial, Times, serif;
  color: white;
}

header .container {
  /* utilizando flex boxes */
  display: flex;

  /* centralizando verticalmente */
  align-items: center;

  /* justificando horizontalmente*/
  justify-content: space-between;

}

header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: Arial, Times;
  font-weight: bold;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

/* filme principal */
.filme-principal {
  font-size: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)100%), url('../img/mr_robot.png');
  background-size: cover;
  height: 600px;

  display: flex;
  flex-direction: column;

  /* sempre justifica na direcao escolhida, neste caso column */
  justify-content: center;

  align-items: flex-start;
}

.filme-principal .descricao {
  margin-top: 10px;
  margin-bottom: 40px;
}

.filme-principal .titulo {
  margin-top: 15%;
  font-size: 40px;
}

.filme-principal .botoes .botao {
  background-color: rgba(0, 0, 0, .50);
  border: none;
  color: white;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: .3s ease all;
}

.filme-principal .botoes .botao:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.filme-principal .botoes .botao i {
  margin-right: 8px;
}

.container {
  margin-left: 20px;
}

.filme-principal .container {
  width: 70%;
}

.box-filme {
  width: 100%;
  height: 100%;
  display: block;
}

.carrossel-filmes {
  margin-top: 5px;
}